<style>
    pre {
        width: 99%;
        border: none;
        background-color: transparent !important;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
    }
</style>
<md-toolbar md-scroll-shrink class="md-menu-toolbar">
    <div class="md-toolbar-tools">
        <button class="md-icon-button md-button" hide-gt-md ng-click="openSideMenu()" aria-label="Toggle Menu">
            <i class="material-icons">chrome_reader_mode</i>
        </button>
        <h4>
            <span style='font-size: 18px;'>
                <a href="/">Software Headline </a>
            </span>
        </h4>
        <span flex></span>
        <span>
           <md-checkbox ng-model="swo.inReport" aria-label="Display">
                Show Active Only
            </md-checkbox>
            <a class="md-primary" ng-click="sweditform.$show();" ng-show='!sweditform.$visible'>
                Edit
            </a>
            <a class="md-primary" ng-click="refreshsw();" ng-show='!sweditform.$visible'>
                Refresh
            </a>
        </span>
    </div>
</md-toolbar>
<md-content>
    <sw-edit-form></sw-edit-form>
</md-content>
<!--<div class="row">-->
<!--&lt;!&ndash; Default Buttons &ndash;&gt;-->
<!--<div class="block block-bordered">-->
<!--<div class="block-header">-->
<!--<ul class="block-options hidden-xs" ng-show='dataloaded'-->
<!--ng-if="permission.authority=='swpm' || permission.authority=='pm' ||  permission.authority=='admin'">-->
<!--<li>-->
<!--<toggle-switch ng-model="swo.inReport" on-label="Report" off-label="All" knob-label='Display'>-->
<!--<toggle-switch>-->
<!--</li>-->
<!--<li ng-hide='sweditform.$visible'>-->
<!--<button class='btn btn-sm btn-info' ng-click="refreshsw()">Refresh</button>-->
<!--</li>-->
<!--<li ng-hide='sweditform.$visible'>-->
<!--<button class='btn btn-sm btn-info'-->
<!--ng-click="sweditform.$show();">Edit-->
<!--</button>-->
<!--</li>-->
<!--</ul>-->

<!--<h3 class="block-title">-->
<!--Headline-->
<!--<small><a ng-click="openNewTab('http://confluence.broadcom.com/display/SWITCHPM/SW+Indicator')">-->
<!--<i class="fa fa-question-circle fa-fw fa-2x"></i>-->
<!--</a></small>-->
<!--<small ng-show='dataloaded' ng-bind-html="trustAsHtml(sw.timestamp)"></small>-->
<!--<small ng-hide='dataloaded'>Loading...</small>-->
<!--</h3>-->
<!--</div>-->
<!--<div class="block-content" ng-show='dataloaded'>-->
<!--<sw-edit-form></sw-edit-form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


