<md-content>
    <md-list flex>
        <md-list-item>
            <a ui-sref="customerProgram({pid:{{pid}}, rid:{{rid}}, page:'dashboard'})">
                <p>Dashboard</p>
            </a>
        </md-list-item>
        <md-subheader><h6>Program Information</h6></md-subheader>
        <md-list-item>
            <a ui-sref="customerProgram({pid:{{pid}}, rid:{{rid}}, page:'info'})">
                <p>Information</p>
            </a>
        </md-list-item>
        <md-subheader><h6>Indicator</h6></md-subheader>
        <md-list-item>
            <a ui-sref="customerProgram({pid:{{pid}}, rid:{{rid}}, page:'milestone'})">
                <p>Milestone</p>
            </a>
        </md-list-item>
        <md-list-item>
            <a ui-sref="customerProgram({pid:{{pid}}, rid:{{rid}}, page:'weeklyUpdate'})">
                <p>Weekly Update Note</p>
            </a>
        </md-list-item>
        <md-subheader ng-show="authority=='cpm' ||authority=='pm' || authority=='admin'"><h6>Admin</h6></md-subheader>
        <md-list-item ng-show="authority=='cpm' || authority=='pm' || authority=='admin'">
            <a ui-sref="customerProgram({pid:{{pid}}, rid:{{rid}}, page:'settings'})">
                <p>Settings</p>
            </a>
        </md-list-item>
    </md-list>
</md-content>