<!-- Sidebar Scroll Container -->
<div id="sidebar-scroll" class='hidden-xs hidden-sm'>
    <div class="sidebar-content">
        <!-- Side Content -->
        <div class="side-content">
            <ul class="nav-main">
                <li>
                    <a data-ui-sref="program({ptype:'customer', pid:{{pid}}, rid:{{rid}}, page:'dashboard'})"> <i
                            class="si si-speedometer"></i>
                        <span class="sidebar-mini-hide">Dashboard</span>
                    </a></li>
                <li class="nav-main-heading"><span class="sidebar-mini-hide">Program
						Information</span></li>
                <li><a data-ui-sref="program({ptype:'customer', pid:{{pid}}, rid:{{rid}}, page:'info'})"> <i
                        class="si si-speedometer"></i>
                    <span class="sidebar-mini-hide">Information</span>
                </a></li>
                <li class="nav-main-heading"><span class="sidebar-mini-hide">Indicator</span></li>
                <li><a data-ui-sref="program({ptype:'customer', pid:{{pid}}, rid:{{rid}}, page:'milestone'})"> <i
                        class="si si-speedometer"></i>
                    <span class="sidebar-mini-hide">Milestone</span>
                </a></li>
                <li><a data-ui-sref="program({ptype:'customer', pid:{{pid}}, rid:{{rid}}, page:'weeklyUpdate'})"> <i
                        class="si si-speedometer"></i>
                    <span class="sidebar-mini-hide">Weekly Update Note</span>
                </a></li>
                <li data-ng-if="permission.authority=='cpm' || permission.authority=='pm' || permission.authority=='admin'"
                    class="nav-main-heading"><span class="sidebar-mini-hide">Admin</span></li>
                <li data-ng-if="permission.authority=='cpm' || permission.authority=='pm' || permission.authority=='admin'">
                    <a data-ui-sref="program({ptype:'customer', pid:{{pid}}, rid:{{rid}}, page:'settings'})"> <i
                            class="si si-speedometer"></i>
                        <span class="sidebar-mini-hide">Settings</span>
                    </a></li>
            </ul>
        </div>
        <!-- END Side Content -->
    </div>
    <!-- Sidebar Content -->
</div>
<!-- END Sidebar Scroll Container -->