<style>
    .gridStyle {
        height: 100%;
    }
</style>
<div layout="column">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">Actual Data</span>
                    <span flex></span>
                    <span>
                        <md-select name="timeSelect" id="timeSelect"
                                   ng-model="rs.actualResourceTime" placeholder="SNAPSHOT"
                                   aria-label="Resource Data">
                            <md-option value="">---Latest---</md-option>
                            <md-option ng-repeat="snapshot in resourceTimes track by $index" value="{{snapshot}}"> {{snapshot}}  </md-option>
                        </md-select>
                    </span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div id="actualdiv" class='gridWidthWrapper'>
                <div ui-grid="gridOptions" ui-grid-exporter ui-grid-resize-columns
                     ui-grid-move-columns ui-grid-auto-resize class="gridStyle"></div>
            </div>
        </md-card-content>
    </md-card>
</div>