<div layout="column">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">Resource By Skill (Actual vs POR)</span>
                    <span flex></span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <highchart id="resourceSkillCurrentCompareChart" config="resourceSkillCurrentCompareChartConfig"
                       style="height: 400px; margin: 0 auto"></highchart>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">Actual Skill Trend</span>
                    <span flex></span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <highchart id="actualResourceMonthlySkillTrendChart" config="actualResourceMonthlySkillTrendChartConfig"
                       style="height: 400px; margin: 0 auto"></highchart>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">Actual Skill Trend</span>
                    <span flex></span>
                    <span>
                        <md-select name="skillSelect" id="skillSelect" ng-model="rs.skillSelect"
                                   aria-label="Skill Select" placeholder="Please select skill to compare">
                            <md-option ng-repeat="skill in skillList track by $index"
                                       value="{{skill}}">{{skill}}</md-option>
                            <!-- interpolation -->
                        </md-select>
                    </span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-show="milestoneResourceValid  &&rs.skillSelect != null && rs.skillSelect != ''">
            <highchart id="resourceSkillTrendCompareChart" config="resourceSkillTrendCompareChartConfig"
                       style="height: 400px; margin: 0 auto"></highchart>
        </md-card-content>
    </md-card>
</div>
<!--<div class="row">-->
<!--<div class="block block-bordered">-->
<!--<div class="block-header">-->
<!--<h3 class="block-title">Resource By Skill-->
<!--<small ng-hide='resourceloaded'>Loading...</small>-->
<!--<small ng-show='resourceloaded' ng-bind-html="trustAsHtml(resourceTimestamp)"></small>-->
<!--</h3>-->
<!--</div>-->
<!--<div class="block-content" ng-show='resourceloaded'>-->
<!--<div ng-show='milestoneResourceValid'>-->
<!--<div class="row">-->
<!--<highchart id="resourceSkillCurrentCompareChart" config="resourceSkillCurrentCompareChartConfig"-->
<!--style="height: 400px; margin: 0 auto"></highchart>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<highchart id="porResourceMonthlySkillTrendChart"-->
<!--config="porResourceMonthlySkillTrendChartConfig"-->
<!--style="height: 400px; margin: 0 auto"></highchart>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--<highchart id="actualResourceMonthlySkillTrendChart"-->
<!--config="actualResourceMonthlySkillTrendChartConfig"-->
<!--style="height: 400px; margin: 0 auto"></highchart>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div ng-hide='milestoneResourceValid || !resourceloaded'>-->
<!--<div class="alert alert-info">-->
<!--<strong>INFO: </strong> the plot cannot be displayed because some dates are missing in the Milestone-->
<!--table.-->
<!--See this <a-->
<!--ng-click="openNewTab('http://confluence.broadcom.com/display/SWITCHPM/No+resource+plot ')">link</a>-->
<!--for more info.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="block block-bordered">-->
<!--<div class="block-header">-->

<!--<h3 class="block-title">Skill Compare-->
<!--<small ng-hide='resourceloaded'>Loading...</small>-->

<!--<small>{{rs.skillSelect}}</small>-->
<!--</h3>-->
<!--</div>-->
<!--<div class="block-content" ng-show="resourceloaded">-->
<!--<div ng-show="milestoneResourceValid  &&rs.skillSelect != null && rs.skillSelect != ''">-->
<!--<div class="row">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->