<!-- <nav ng-include="'/program/software/sidebar'"	ng-controller="SidebarCtrl" id="sidebar"></nav> -->
<main id="main-container" ng-if='permission.authenticated' style='padding-left:0px!important;'>
    <div class="content" style='margin-left: 5px!important;'>
        <div ng-switch on="page">
            <div ng-switch-default>
                <div ng-include="'/program/software/dashboard'"></div>
            </div>
            <div ng-switch-when="admin">
                <div ng-include="'/program/software/admin'"></div>
            </div>
        </div>
    </div>
</main>