<style type="text/css">
    a {
        padding-left: 10px;
    }

    md-card-title {
        padding-top: 10px !important;
        padding-left: 10px !important;
        max-height: 40px !important;

    }

    md-card {
        margin-bottom: 1px !important;
        margin-left: 1px !important;
    }

    md-card-content {
        padding-bottom: 1px !important;
    }

    md-card-actions {
        margin-bottom: 1px !important;
        margin-top: 1px !important;
    }

    p {
        margin-bottom: 1px !important;
    }

    .editable-wrap {
        display: block;
        white-space: nowrap;
        margin: 0;
        width: 100%;
    }

    .editable-wrap .editable-controls, .editable-wrap .editable-error {
        width: 100% !important;
        margin: 0px !important;
    }

    .editable-wrap .editable-controls > input {
        margin-bottom: 0;
        margin-top: 2px;
        width: -moz-calc(100% - 2px);
        width: -webkit-calc(100% - 2px);
        width: calc(100% - 2px);
    }

    .editable-wrap .editable-controls > textarea {
        margin-bottom: 0;
        margin-top: 5px;
        width: -moz-calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
    }

    .editable-error {
        text-color: red;
    }

    md-select {
        margin-top: 0px !important;
    }

    .md-subhead {
        padding-top: 5px !important;
        padding-left: 10px !important;
    }
</style>

<section layout="row" flex>
    <div layout="column" flex>
        <md-toolbar md-scroll-shrink class="md-menu-toolbar">
            <div class="md-toolbar-tools">
                <h4 flex md-truncate>
                    <span style='font-size: 18px;'>
						<a href="/">SW</a>
						<i class="glyphicon glyphicon-chevron-right"></i>
					</span>
                    <span flex></span>
                    <span>
                         <md-tabs md-selected="swtabIndex" md-border-bottom md-dynamic-height>
                            <md-tab ng-repeat="tab in swtabs" label="{{tab.program}}" ng-click="loadSWTab(tab)">
                            </md-tab>
                        </md-tabs>
                    </span>
                </h4>
            </div>
        </md-toolbar>
        <md-content class="md-padding" style="padding-top:1px!important;">
            <div flex ng-switch on="page" style="padding-bottom: 40px!important;">
                <div ng-switch-default>
                    <div ng-include="'/program/software/dashboard'"></div>
                </div>
                <div ng-switch-when="settings"
                     ng-if="authority=='admin' || authority=='pm' || authority=='swpm'">
                    <div ng-include="'/program/software/settings'"></div>
                </div>
            </div>
        </md-content>
    </div>
</section>


