<!-- Sidebar Scroll Container -->
<div id="sidebar-scroll" class='hidden-xs hidden-sm'>
    <div class="sidebar-content">
        <!-- Side Content -->
        <div class="side-content">
            <ul class="nav-main">
                <li>
                    <a ui-sref="program({ptype:'software', pid:{{pid}}, rid:{{rid}}, page:'dashboard'})"> <i
                            class="si si-speedometer"></i>
                        <span class="sidebar-mini-hide">Dashboard</span>
                    </a></li>
                <!-- 				<li ng-if="permission.authority=='swpm' || permission.authority=='pm' || permission.authority=='admin'"> -->
                <!-- 				<a ui-sref="program({ptype:'software', pid:{{pid}}, rid:{{rid}}, page:'admin'})"> <i class="si si-speedometer"></i> -->
                <!-- 						<span class="sidebar-mini-hide">Add New Software Tab</span> -->
                <!-- 				</a></li> -->

            </ul>
        </div>
        <!-- END Side Content -->
    </div>
    <!-- Sidebar Content -->
</div>
<!-- END Sidebar Scroll Container -->