<div layout="column">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">Settings</span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" flex>
                <md-input-container flex="20">
                    <label>Program Name</label>
                    <input type="text" name="programName" ng-model="settings.program" required/>
                </md-input-container>
                <md-input-container flex="20">
                    <label>Customer Name</label>
                    <input type="text" name="customerName" ng-model="settings.base" required/>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <md-input-container flex="30">
                    <label>Status</label>
                    <md-select ng-model="settings.status" placeholder="Status" required>
                        <md-option value="true">Active</md-option>
                        <md-option value="false">Non Active</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <md-input-container flex="30">
                    <label>Schedule Temperature</label>
                    <md-select ng-model="settings.scheduleFlag" placeholder="Schedule Temperature" required>
                        <md-option ng-repeat="item in flaglist track by item.order" ng-value="item">{{item.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="30">
                    <label>Escalation Temperature</label>
                    <md-select ng-model="settings.escalationFlag" placeholder="Escalation Temperature" required>
                        <md-option ng-repeat="item in flaglist track by item.order" ng-value="item">{{item.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <md-button class="md-raised md-primary" ng-click='saveSettings()'>Save</md-button>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</div>