<div class="row">
    <div class='col-md-12 col-sm-12 col-xs-12'>
        <div class="btn-group btn-group-justified">
            <div class="btn-group" role="group" ng-repeat="cat in remark.categories | orderBy:['order', 'name']">
                <a class='btn'
                   ng-class="{'btn-danger' : (cat.status.toLowerCase()=='red'), 'btn-warning' : (cat.status.toLowerCase()=='orange'),
					'btn-success' : (cat.status.toLowerCase()=='green' || cat.status.toLowerCase()=='black')}"
                   ng-click="remarkeditform.$cancel(); clickCategory(cat);"
                   ng-bind="cat.name|uppercase"></a>
            </div>
        </div>
    </div>
    <div class='col-md-12 col-sm-12 col-xs-12'>
        <div class="block block-bordered" style="margin-left:0px;">
            <div class="block-header">
                <ul class="block-options"
                    ng-if="permission.authority=='cpm' || permission.authority=='pm' || permission.authority=='admin'">
                    <li ng-show="!snapshotRemark" ng-show='!remarkeditform.$visible'>
                        <button class='btn btn-default btn-xs' ng-click="$event.stopPropagation();refreshRemark();">
                            Reload
                        </button>
                    </li>
                    <li ng-show="!snapshotRemark" ng-show='!remarkeditform.$visible'>
                        <button class='btn btn-default btn-xs'
                                ng-click="$event.stopPropagation();tinymceRemark=remark; remarkeditform.$show();">Edit
                        </button>
                    </li>
                    <li ng-show="remarkeditform.$visible">
                        <a ng-disabled='remarkeditform.$waiting'
                           ng-click='remarkeditform.$cancel();remark.tinymce=remark.content;'
                           class='btn btn-xs pull-right'>Cancel</a>
                    </li>
                    <li ng-show="remarkeditform.$visible">
                        <a ng-click='saveRemark();remarkeditform.$cancel();' ng-disabled='remarkeditform.$waiting'
                           class='btn btn-xs pull-right'>Save</a>
                    </li>
                </ul>
                <h3 class="block-title">{{remark.currentCategory}} Weekly Update
                    <small>
                        <select name="snapshotRemark" id="snapshotSelect" ng-model="remark.snapshotSelect">
                            <option value="">---Latest---</option>
                            <option ng-repeat="snapshot in snapshots track by $index" value="{{snapshot}}">
                                {{snapshot}}
                            </option>
                        </select>
                    </small>
                    <small ng-show="(!remarkeditform.$visible && remarkloaded)"
                           ng-bind-html="trustAsHtml(remark.ts)"></small>
                    <small ng-show='!remarkloaded'>Loading...</small>
                </h3>
            </div>
            <div class="block-content" ng-show="remarkloaded">
                <div ng-hide="remarkeditform.$visible" ng-bind-html="remark.content"></div>
                <remark-edit-form></remark-edit-form>
            </div>
        </div>
    </div>
</div>