<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" data-ng-app="app">
<head>
    <meta charset="utf-8">

    <title>WBI - 403</title>

    <meta name="description" content="WBI - Web Based Indicator for Switch Team">
    <meta name="author" content="Vinh Tran">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="/css/oneui.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
<!-- Error Content -->
<div class="content bg-white text-center pulldown overflow-hidden">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- Error Titles -->
            <h1 class="font-s128 font-w300 text-flat animated bounceIn">403</h1>
            <h2 class="h3 font-w300 push-50 animated fadeInUp">You do not have permission to access this page</h2>
            <!-- END Error Titles -->
        </div>
    </div>
</div>
<!-- END Error Content -->

<!-- Error Footer -->
<div class="content pulldown text-muted text-center">
    <a class="link-effect" href="http://ingjira.sj.broadcom.com/secure/CreateIssue!default.jspa">Report it</a> or <a
        class="link-effect" href="javascript: history.go(-1)">Go Back</a>
</div>
</body>
</html>