<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Web Based Indicator</title>
    <base href="/">
    <meta name="description" content="WBI - Web Based Indicator for Switch Team">
    <meta name="author" content="Vinh Tran">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/css/highcharts.css" rel="stylesheet">
    <!--<link href="/css/oneui.css" rel="stylesheet" media="screen"/>-->
    <!--<link href="/css/themes/modern.min.css" rel="stylesheet" media="screen"/>-->

    <link href="/css/main.css" rel="stylesheet" media="screen"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://npmcdn.com/@angular2-material/core@latest/style/core.css" rel="stylesheet">
    <link href="https://npmcdn.com/@angular2-material/core@latest/overlay/overlay.css" rel="stylesheet">
    <style type="text/css">
        .autocomplete-custom-template li {
            border-bottom: 1px solid #ccc;
            height: auto;
            padding-top: 8px;
            padding-bottom: 8px;
            white-space: normal;
        }

        .autocomplete-custom-template li:last-child {
            border-bottom-width: 0;
        }

        .autocomplete-custom-template .item-title,
        .autocomplete-custom-template .item-metadata {
            display: block;
            line-height: 1;
        }

    </style>
</head>
<body ng-cloak>
<div id="page-container" class="sidebar-o-xs header-navbar-scroll">
    <md-toolbar class="md-menu-toolbar" style="border-bottom: dotted 1px; height:40px!important;" ng-include="'/header'" ng-controller="HeaderCtrl"></md-toolbar>
    <div autoscroll="true" ui-view></div>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-sanitize.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js}"></script>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.1.0/ocLazyLoad.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.js}"></script>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/modules/exporting.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/modules/gantt.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/modules/no-data-to-display.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/modules/offline-exporting.js}"></script>

    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/factories.js}"></script>
    <script th:src="@{/js/directives.js}"></script>
    <script th:src="@{/js/segmentController.js}"></script>
    <script th:src="@{/js/program/internalProgramController.js}"></script>
    <script th:src="@{/js/program/customerProgramController.js}"></script>
    <script th:src="@{/js/program/softwareProgramController.js}"></script>
    <script th:src="@{/js/program/ipProgramController.js}"></script>
    <script th:src="@{/js/program/newProgramController.js}"></script>
    <script th:src="@{/js/report/indicatorReportController.js}"></script>
    <script th:src="@{/js/report/resourceReportController.js}"></script>
</div>
</body>
</html>