<div layout="row" layout-sm="column">
    <div flex-sm flex-gt-sm="70" layout="column"
         style="padding-left: 0px!important; padding-top: 0px!important; padding-bottom: 0px!important;">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">{{ipcat.name}} Headline</span>
                        <span ng-bind-html="trustAsHtml(ipcat.timestamp)"></span>
                        <span flex></span>
                        <span ng-if="authority=='pm' || authority=='ippm' || authority=='admin'">
                            <a class="md-primary animate-show-hide" ng-click="ipcateditform.$show();"
                               ng-hide='ipcateditform.$visible'>
                                Edit
                            </a>
                            <a class="md-primary animate-show-hide" ng-click="refreshIPCatHeadline();"
                               ng-hide='ipcateditform.$visible'>
                                Refresh
                            </a>
                            <a lass="md-primary animate-show-hide" ng-show="ipcateditform.$visible"
                               ng-disabled='ipcateditform.$waiting'
                               ng-click='ipcateditform.$cancel();ipcat.tinymce=ipcat.content;'>
                                Cancel
                            </a>
                            <a class="md-primary animate-show-hide" ng-show="ipcateditform.$visible"
                               ng-click='saveIPCatHeadline();ipcateditform.$cancel();'
                               ng-disabled='ipcateditform.$waiting'>
                                Save
                            </a>
                        </span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <div ng-hide="ipcateditform.$visible" ng-bind-html="ipcat.content"></div>
                <ip-cat-edit-form></ip-cat-edit-form>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">Headline </span>
                        <span class='md-subhead' ng-bind-html="trustAsHtml(headline.timestamp)"></span>
                        <span flex></span>
                        <span>
                            <md-select name="headlineSnapshot" id="headlineSnapshotSelect"
                                       ng-model="headline.snapshotSelect" placeholder="SNAPSHOT"
                                       ng-hide="headlineeditform.$visible"
                                       aria-label="Headline Snapshot">
                                <md-option value="">---Latest---</md-option>
                                <md-option ng-repeat="snapshot in headline.snapshots track by $index"
                                           value="{{snapshot}}"> {{snapshot}}  </md-option>
                            </md-select>
                        </span>
                        <span ng-if="authority=='pm' || authority=='ippm' || authority=='admin'">
                            <a class='md-primary animate-show-hide'
                               ng-click="parseHeadline(); headlineeditform.$show();"
                               ng-hide='(headlineeditform.$visible || !showEditFeature || snapshotHeadline)'>Edit</a>
                            <a class='md-primary animate-show-hide'
                               ng-click="parseHeadline(); removeHeadline()"
                               ng-hide='(headlineeditform.$visible || !showEditFeature || snapshotHeadline)'>Delete</a>
                            <a class='md-primary animate-show-hide'
                               ng-click="newHeadline(); headlineeditform.$show(); "
                               ng-hide='(headlineeditform.$visible || snapshotHeadline)'>New</a>
                            <a class='md-primary animate-show-hide'
                               ng-click="refreshHeadline()"
                               ng-hide='(headlineeditform.$visible || snapshotHeadline)'>Refresh</a>
                        </span>

                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <div ng-hide="headlineeditform.$visible">
                    <ul class="list-group" id='headline-issue-list'>
                        <li class="list-group-item" ng-repeat="headline in headline.content track by $index"
                            ng-click='headlineClick($index, $event, headline)'>
                            <span ng-bind-html="trustAsHtml(headline)"></span>
                        </li>
                    </ul>
                </div>
                <headline-edit-form></headline-edit-form>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">Project Milestone </span>
                        <span flex></span>
                        <a ng-hide='milestoneeditform.$visible' class='md-primary animate-show-hide'
                           ng-click="displayMilestoneSnapshot();">Show History</a>
                        <a ng-if="authority=='pm' || authority=='ippm' || authority=='admin'"
                           ng-show="!snapshotMilestone" class='md-primary animate-show-hide'
                           ng-click="$event.stopPropagation();refreshMilestone();">Refresh</a>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <div layout="row" style="height: 25px!important;">
                        <span ng-show='milestoneeditform.$visible'
                              ng-if="authority=='pm' || authority=='ippm' ||  authority=='admin'">
                             Editing {{milestoneSelected.name|myUpperCase}}
                        </span>
                    <span ng-hide='milestoneeditform.$visible'>
                        <md-select ng-model='ms.snapshotSelect' placeholder="SNAPSHOT" aria-label="Snapshot">
                            <md-option ng-repeat="snapshot in snapshots track by $index" value="{{snapshot}}">{{snapshot}}</md-option>
                        </md-select>
                    </span>
                    <span flex></span>
                    <span ng-if="authority=='pm' || authority=='ippm' ||  authority=='admin'"
                          ng-hide='milestoneeditform.$visible'>
                        <a class='md-primary animate-show-hide'
                           ng-click="checkNewFormShowCondition(milestoneeditform);">New</a>
                        <a class='md-primary animate-show-hide' ng-show="!snapshotMilestone"
                           ng-click="checkEditFormShowCondition(milestoneeditform);">Edit</a>
                        <a class='md-primary animate-show-hide' ng-show="ms.allowEdit" ng-click="removeMilestone();">Delete</a>
                    </span>
                </div>
                <ip-milestone-table></ip-milestone-table>
                <ip-milestone-edit-form></ip-milestone-edit-form>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">Meeting </span>
                        <span flex></span>
                        <span ng-if="authority=='pm' || authority=='ippm' || authority=='admin'">
                            <a class='md-primary animate-show-hide' ng-hide='meetingeditform.$visible'
                               ng-click="meetingeditform.$show();">Edit</a>
                            <a class='md-primary animate-show-hide' ng-hide='meetingeditform.$visible'
                               ng-click="refreshLink()">Refresh</a>
                        </span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <meeting-edit-form></meeting-edit-form>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">Links </span>
                        <span flex></span>
                        <span ng-if="authority=='pm' || authority=='ippm' || authority=='admin'">
                            <a class='md-primary animate-show-hide' ng-hide='linkeditform.$visible'
                               ng-click="linkeditform.$show();">Edit</a>
                            <a class='md-primary animate-show-hide' ng-hide='linkditform.$visible'
                               ng-click="refreshLink()">Refresh</a>
                        </span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <link-edit-form></link-edit-form>
            </md-card-content>
        </md-card>
    </div>
    <div flex-sm flex-gt-sm="30" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">Information </span>
                        <span flex></span>
                        <span ng-if="authority=='pm' || authority=='ippm' || authority=='admin'">
							<a class='md-primary animate-show-hide' ng-click="infoeditform.$show();"
                               ng-hide='infoeditform.$visible'>Edit</a>
							<a class='md-primary animate-show-hide' ng-click="refreshInfoDashboard()"
                               ng-hide='infoeditform.$visible'>Refresh</a>
                        </span>
                    </div>
                </md-card-title-text>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <ip-information-edit-form></ip-information-edit-form>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">Revision Changes </span>
                        <span flex></span>
                        <span ng-if="authority=='pm' || authority=='ippm' || authority=='admin'">
                            <a ng-hide='infoRevChangeEditform.$visible' class='md-primary animate-show-hide'
                               ng-click="infoRevChangeEditform.$show();">
                                Edit
                            </a>
                            <a ng-hide='infoRevChangeEditform.$visible' class='md-primary animate-show-hide'
                               ng-click="refreshInfoRevChange()">
                                Refresh
                            </a>
                        </span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <ip-information-rev-change-edit-form></ip-information-rev-change-edit-form>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">Contact </span>
                        <span flex></span>
                        <span ng-if="authority=='pm' || authority=='ippm' || authority=='admin'">
                            <a class='md-primary animate-show-hide' ng-hide='contacteditform.$visible'
                               ng-click="contacteditform.$show();">Edit</a>
                            <a class='md-primary animate-show-hide' ng-hide='contacteditform.$visible'
                               ng-click="refreshContact()">Refresh</a>
                        </span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <contact-edit-form></contact-edit-form>
            </md-card-content>
        </md-card>
        <md-card ng-if="authority=='pm' || authority=='ippm' || authority=='admin'">
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <span class="md-title">Settings </span>
                        <span flex></span>
                        <span>
                          <a ng-hide='ipsettingeditform.$visible' class='md-primary animate-show-hide'
                             ng-click="ipsettingeditform.$show();">
                              Edit
						</a>
                        </span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <ip-setting-edit-form></ip-setting-edit-form>
            </md-card-content>
        </md-card>
    </div>
</div>