<div layout="column" layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">New Customer Program</span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form role="form" data-ng-submit="submitCustomerForm(customerForm.$valid)" novalidate name='customerForm'>
                <div layout-gt-xs="column">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Program Name</label>
                        <input ng-model='customer.pname' name='pname' type='text'
                               autocomplete="off" required minlength="3" maxlength="128"
                               ng-unique-program="customer.pname">
                        <div ng-messages="customerForm.pname.$error">
                            <p ng-message="required">Required</p>
                            <p ng-message="minlength">Min 3 Characters</p>
                            <p ng-message="maxlength">Max 128 Characters</p>
                            <p ng-message="programUnique">Already registered</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Customer Name</label>
                        <input ng-model='customer.baseDie' name='customerName' type='text'
                               autocomplete="off" required minlength="3" maxlength="128">
                        <div ng-messages="customerForm.customerName.$error">
                            <p ng-message="required">Required</p>
                            <p ng-message="minlength">Min 3 Characters</p>
                            <p ng-message="maxlength">Max 128 Characters</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-button type="submit" class="btn btn-primary btn-block"
                                   data-ng-disabled="customerForm.$invalid"
                                   tabindex='25' data-ng-click='submitted=true'>Submit
                        </md-button>
                    </md-input-container>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
