<div layout="column" layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">New Internal Program</span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form role="form" data-ng-submit="submitChipForm(chipForm.$valid)" novalidate name='chipForm'>
                <div layout-gt-xs="column">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Program Name</label>
                        <input ng-model='chip.pname' name='pname' type='text'
                               autocomplete="off" required minlength="3" maxlength="128" ng-unique-program="chip.pname">
                        <div ng-messages="chipForm.pname.$error">
                            <p ng-message="required">Required</p>
                            <p ng-message="minlength">Min 3 Characters</p>
                            <p ng-message="maxlength">Max 128 Characters</p>
                            <p ng-message="programUnique">Already registered</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Code Name</label>
                        <input name='codeName' ng-model='chip.codeName' type='text'>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>AKA</label>
                        <input name='aka' ng-model='chip.aka' type='text'>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Base Die</label>
                        <input ng-model='chip.basedie' name='basedie' type='text'
                               autocomplete="off" required minlength="2" maxlength="128">
                        <div ng-messages="chipForm.basedie.$error">
                            <p ng-message="required">Required</p>
                            <p ng-message="minlength">Min 2 Characters (Or NA if not assigned yet)</p>
                            <p ng-message="maxlength">Max 128 Characters</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>

                        <label>Segment</label>
                        <md-select name="type" ng-model="chip.segment" required aria-label="Segment">
                            <md-option ng-repeat="segment in segments |orderBy:'orderNum' " ng-value="segment">
                                {{segment.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-button type="submit" class="btn btn-primary btn-block" data-ng-disabled="chipForm.$invalid"
                                   tabindex='25' data-ng-click='submitted=true'>Submit
                        </md-button>
                    </md-input-container>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
