<div layout="column" layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">New IP Program</span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form role="form" data-ng-submit="submitIPForm(ipForm.$valid)" novalidate name='ipForm'>
                <div layout-gt-xs="column">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Program Name</label>
                        <input ng-model='ip.pname' name='pname' type='text'
                               autocomplete="off" required minlength="3" maxlength="128" ng-unique-program="ip.pname">
                        <div ng-messages="ipForm.pname.$error">
                            <p ng-message="required">Required</p>
                            <p ng-message="minlength">Min 3 Characters</p>
                            <p ng-message="maxlength">Max 128 Characters</p>
                            <p ng-message="programUnique">Already registered</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Revision</label>
                        <input name='rev' ng-model='ip.rname' type='text' required ng-minlength="1" ng-maxlength="128">
                        <div ng-messages="ipForm.rname.$error">
                            <p ng-message="required">Required</p>
                            <p ng-message="minlength">Min 1 Character</p>
                            <p ng-message="maxlength">Max 128 Characters</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Technology</label>
                        <md-select name="type" ng-model="ip.info.technology" required aria-label="technology">
                            <md-option ng-repeat="(key,value) in ipDropDownTemplate.technology " ng-value="value">
                                {{key}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Category</label>
                        <md-select name="type" ng-model="ip.info.category" required aria-label="category">
                            <md-option ng-repeat="(key,value) in ipDropDownTemplate.category " ng-value="value">
                                {{key}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Technology</label>
                        <md-select name="type" ng-model="ip.info.type" required aria-label="type">
                            <md-option ng-repeat="(key,value) in ipDropDownTemplate.type " ng-value="value">{{key}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-button type="submit" class="btn btn-primary btn-block" data-ng-disabled="ipForm.$invalid"
                                   tabindex='25' data-ng-click='submitted=true'>Submit
                        </md-button>
                    </md-input-container>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>