<div class='row'>
    <div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4">
        <h2>Create New IP Revision</h2>
    </div>
</div>
<div class="row">
    <form class="form-horizontal" role="form" data-ng-submit="submitIPRevForm(ipForm.$valid)" novalidate name='ipForm'>
        <div class="col-md-12 col-lg-9 col-lg-offset-2">
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">IP Information</h3>
                </div>
                <div class="block-content block-content-narrow">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="ipname">IP Name <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9"
                             data-ng-class="{'has-error':ipForm.ipname.$invalid && (ipForm.ipname.$dirty || ipForm.$submitted)}">
                            <input autocomplete="off" class='form-control' type="text" ng-model="ip.pname"
                                   placeholder="Search Program"
                                   typeahead-min-length="3" typeahead-wait-ms='5' typeahead-loading="loadingPrograms"
                                   typeahead-no-results="noResults"
                                   uib-typeahead="item as p.formated for p in searchProgram($viewValue, 'ip')"
                                   typeahead-on-select="onProjectSelect($item, $model, $label)" tabindex='1'>
                            <i ng-show="loadingPrograms" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> No IP Results Found
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="rname">New Revision Name<span
                                class="text-danger">*</span></label>
                        <div class="col-md-6"
                             ng-class="{'has-error':ipForm.rname.$invalid && (ipForm.rname.$dirty || ipForm.$submitted)}">
                            <input class='form-control' ng-model='ip.rname' name='rname' type='text'
                                   placeholder='new IP Revision name' tabindex='2'
                                   autocomplete="off" required minlength="1" ng-change="checkRevision()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="cloneRev">Clone From Revision<span
                                class="text-danger"></span></label>
                        <div class="col-md-6">
                            <select name="revisionList" ng-model="ip.oldRev"
                                    ng-options="revision.revision for revision in revisionList track by revision.revision"
                                    tabindex='3' name='cloneRev'>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="info">Clone Information<span
                                class="text-danger"></span></label>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="ip.clone.info" tabindex='4' name='info'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="milestone">Clone Milestones<span
                                class="text-danger"></span></label>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="ip.clone.milestone" tabindex='7' name='milestone'>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"
                                data-ng-disabled="ipForm.$invalid || duplicateRev" tabindex='25'
                                data-ng-click='submitted=true'>Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>