<div layout="column" layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <span class="md-title">New IP Revision</span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form role="form" data-ng-submit="submitIPRevForm(ipRevForm.$valid)" novalidate name='ipRevForm'>
                <div layout-gt-xs="column">
                    <md-input-container flex-gt-xs>
                        <md-autocomplete flex required md-input-name="pname"
                                         md-input-minlength="2" md-input-maxlength="18"
                                         md-delay="10"
                                         md-selected-item="selectedItem"
                                         md-search-text="searchText"
                                         md-item-text="item.pname"
                                         md-no-cache="false"
                                         md-require-match
                                         md-menu-class="autocomplete-custom-template"
                                         md-selected-item-change="selectedIPProgramChange(item)"
                                         md-items="item in searchProgram(searchText, 'ip')"
                                         md-floating-label="Search Program Name"
                                         md-clear-button="true">
                            <md-item-template>
                                <span class="item-title">
                                    <strong> {{item.pname}} </strong>
                                </span>
                            </md-item-template>
                            <div ng-messages="ipRevForm.pname.$error" ng-if="ipRevForm.pname.$touched">
                                <div ng-message="required">Project Field <b>missing</b>.</div>
                                <div ng-message="md-require-match">Please select project.</div>
                                <div ng-message="minlength">Your entry is not long enough.</div>
                                <div ng-message="maxlength">Your entry is too long.</div>
                            </div>
                        </md-autocomplete>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Revision</label>
                        <input name='rev' ng-model='ip.rname' type='text' required ng-minlength="1" autocomplete="off"
                               ng-maxlength="128" ng-change="checkDuplicateRevision(ip);">
                        <div ng-messages="ipRevForm.rname.$error">
                            <p ng-message="required">Required</p>
                            <p ng-message="minlength">Min 1 Character</p>
                            <p ng-message="maxlength">Max 128 Characters</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Clone From Another Revision</label>
                        <md-select name="type" ng-model="ip.oldRev" aria-label="cloneRevision">
                            <md-option ng-repeat="revision in revisionList |orderBy:'revision' " ng-value="revision">
                                {{revision.revision|uppercase}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-button type="submit" class="btn btn-primary btn-block"
                                   data-ng-disabled="ipRevForm.$invalid || duplicateRev"
                                   tabindex='25' data-ng-click='submitted=true'>Submit
                        </md-button>
                    </md-input-container>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
